<!DOCTYPE html>
<html>
  <head>
    <title>My first web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="./views/scripts/app.js"></script>
    <script>
      function addRow(){
        $("#MyTable tbody").append("<tr>" + 
            "<td class='pt-3-half' contenteditable='true'></td>" +
            "<td class='pt-3-half text-center' contenteditable='true' ></td>" +
            "<td class='pt-3-half text-center' contenteditable='false'></td>" +
            "</tr>");
    }</script>
    
  </head>
  <body>


    
    <div class="jumbotron text-center">
      <h1>My First Page</h1>
      <p>This form is only used to learn node.js</p> 
    </div>
    

    <div class="container">

    <form>
      <div class="form-group mx-sm-3 mb-2">
        <label for="name">Nombre</label>
        <input class="form-control" type="text" placeholder="Escribe tu nombre aquí">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="lastName">Apellido</label>
        <input class="form-control" type="text" placeholder="Escribe tu apellido aquí">
      </div>
    </form>
    


    <!-- Editable table -->
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        Detalle
      </h3>
      <button onclick="addRow()" type="button" class="btn btn-primary"><i class="bi bi-plus"></i> Agregar fila</button>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-left" id="MyTable">
            <thead>
              <tr>
                <th class="text-center">Producto</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half text-center" contenteditable="true" ></td>
                <td class="pt-3-half text-center" contenteditable="false"></td>
              </tr>

              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half text-center" contenteditable="true" ></td>
                <td class="pt-3-half text-center" contenteditable="false"></td>
              </tr>

              <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half text-center" contenteditable="true" ></td>
                <td class="pt-3-half text-center" contenteditable="false"></td>
              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Editable table -->

    <a href="index.html">
      <button type="button" class="btn btn-primary">Guardar y Salir</button>
    </a>

  </div>

  </body>
</html>
